---
import clsx from 'clsx';

export type SpanOptions = 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12;

export type ResponsiveSpan = {
  mobile?: SpanOptions;
  tablet?: SpanOptions;
  desktop?: SpanOptions;
};

export interface Props {
  span?: SpanOptions | ResponsiveSpan;
  start?: SpanOptions | ResponsiveSpan;
  class?: string;
  [key: string]: any;
}

const { class: className, span = 1, start, ...rest } = Astro.props;

function formatSpan(span: SpanOptions | ResponsiveSpan): ResponsiveSpan {
  if (typeof span === 'number') {
    return formatSpan({
      mobile: span,
    });
  }

  return {
    desktop: span.desktop || span.tablet || span.mobile,
    tablet: span.tablet || span.mobile,
    mobile: span.mobile,
  };
}

const formattedSpan = formatSpan(span);
const formattedStart = start ? formatSpan(start) : null;
---

<div
  class={clsx(className, 'column', {
    [`column--span-mobile-${formattedSpan.mobile}`]: formattedSpan.mobile,
    [`column--span-tablet-${formattedSpan.tablet}`]: formattedSpan.tablet,
    [`column--span-desktop-${formattedSpan.desktop}`]: formattedSpan.desktop,
    [`column--start-mobile-${formattedStart?.mobile}`]: formattedStart?.mobile,
    [`column--start-tablet-${formattedStart?.tablet}`]: formattedStart?.tablet,
    [`column--start-desktop-${formattedStart?.desktop}`]:
      formattedStart?.desktop,
  })}
  {...rest}
>
  <slot />
</div>

<style>
  .column {
  }

  .column--span-mobile-1 {
    grid-column-end: span 1;
  }

  .column--span-mobile-2 {
    grid-column-end: span 2;
  }

  .column--span-mobile-3 {
    grid-column-end: span 3;
  }

  .column--span-mobile-4 {
    grid-column-end: span 4;
  }

  .column--span-mobile-5 {
    grid-column-end: span 5;
  }

  .column--span-mobile-6 {
    grid-column-end: span 6;
  }

  .column--span-mobile-7 {
    grid-column-end: span 7;
  }

  .column--span-mobile-8 {
    grid-column-end: span 8;
  }

  .column--span-mobile-9 {
    grid-column-end: span 9;
  }

  .column--span-mobile-10 {
    grid-column-end: span 10;
  }

  .column--span-mobile-11 {
    grid-column-end: span 11;
  }

  .column--span-mobile-12 {
    grid-column-end: span 12;
  }

  @media screen and (min-width: 481px) {
    .column--span-tablet-1 {
      grid-column-end: span 1;
    }

    .column--span-tablet-2 {
      grid-column-end: span 2;
    }

    .column--span-tablet-3 {
      grid-column-end: span 3;
    }

    .column--span-tablet-4 {
      grid-column-end: span 4;
    }

    .column--span-tablet-5 {
      grid-column-end: span 5;
    }

    .column--span-tablet-6 {
      grid-column-end: span 6;
    }

    .column--span-tablet-7 {
      grid-column-end: span 7;
    }

    .column--span-tablet-8 {
      grid-column-end: span 8;
    }

    .column--span-tablet-9 {
      grid-column-end: span 9;
    }

    .column--span-tablet-10 {
      grid-column-end: span 10;
    }

    .column--span-tablet-11 {
      grid-column-end: span 11;
    }

    .column--span-tablet-12 {
      grid-column-end: span 12;
    }
  }

  @media screen and (min-width: 768px) {
    .column--span-desktop-1 {
      grid-column-end: span 1;
    }

    .column--span-desktop-2 {
      grid-column-end: span 2;
    }

    .column--span-desktop-3 {
      grid-column-end: span 3;
    }

    .column--span-desktop-4 {
      grid-column-end: span 4;
    }

    .column--span-desktop-5 {
      grid-column-end: span 5;
    }

    .column--span-desktop-6 {
      grid-column-end: span 6;
    }

    .column--span-desktop-7 {
      grid-column-end: span 7;
    }

    .column--span-desktop-8 {
      grid-column-end: span 8;
    }

    .column--span-desktop-9 {
      grid-column-end: span 9;
    }

    .column--span-desktop-10 {
      grid-column-end: span 10;
    }

    .column--span-desktop-11 {
      grid-column-end: span 11;
    }

    .column--span-desktop-12 {
      grid-column-end: span 12;
    }
  }

  .column--start-mobile-1 {
    grid-column-start: 1;
  }

  .column--start-mobile-2 {
    grid-column-start: 2;
  }

  .column--start-mobile-3 {
    grid-column-start: 3;
  }

  .column--start-mobile-4 {
    grid-column-start: 4;
  }

  .column--start-mobile-5 {
    grid-column-start: 5;
  }

  .column--start-mobile-6 {
    grid-column-start: 6;
  }

  .column--start-mobile-7 {
    grid-column-start: 7;
  }

  .column--start-mobile-8 {
    grid-column-start: 8;
  }

  .column--start-mobile-9 {
    grid-column-start: 9;
  }

  .column--start-mobile-10 {
    grid-column-start: 10;
  }

  .column--start-mobile-11 {
    grid-column-start: 11;
  }

  .column--start-mobile-12 {
    grid-column-start: 12;
  }

  @media screen and (min-width: 481px) {
    .column--start-tablet-1 {
      grid-column-start: 1;
    }

    .column--start-tablet-2 {
      grid-column-start: 2;
    }

    .column--start-tablet-3 {
      grid-column-start: 3;
    }

    .column--start-tablet-4 {
      grid-column-start: 4;
    }

    .column--start-tablet-5 {
      grid-column-start: 5;
    }

    .column--start-tablet-6 {
      grid-column-start: 6;
    }

    .column--start-tablet-7 {
      grid-column-start: 7;
    }

    .column--start-tablet-8 {
      grid-column-start: 8;
    }

    .column--start-tablet-9 {
      grid-column-start: 9;
    }

    .column--start-tablet-10 {
      grid-column-start: 10;
    }

    .column--start-tablet-11 {
      grid-column-start: 11;
    }

    .column--start-tablet-12 {
      grid-column-start: 12;
    }
  }

  @media screen and (min-width: 768px) {
    .column--start-desktop-1 {
      grid-column-start: 1;
    }

    .column--start-desktop-2 {
      grid-column-start: 2;
    }

    .column--start-desktop-3 {
      grid-column-start: 3;
    }

    .column--start-desktop-4 {
      grid-column-start: 4;
    }

    .column--start-desktop-5 {
      grid-column-start: 5;
    }

    .column--start-desktop-6 {
      grid-column-start: 6;
    }

    .column--start-desktop-7 {
      grid-column-start: 7;
    }

    .column--start-desktop-8 {
      grid-column-start: 8;
    }

    .column--start-desktop-9 {
      grid-column-start: 9;
    }

    .column--start-desktop-10 {
      grid-column-start: 10;
    }

    .column--start-desktop-11 {
      grid-column-start: 11;
    }

    .column--start-desktop-12 {
      grid-column-start: 12;
    }
  }
</style>
