---
import { VacancyList } from '@blocks/VacancyList';
import MemberParade from '@blocks/MemberParade/MemberParade.astro';
import { Button } from '@components/Button';
import { Card, CardContent, CardFooter, CardImage } from '@components/Card';
import { Column, Grid } from '@components/Grid';
import { Heading } from '@components/Heading';
import {
  PageTitle,
  PageTitleContent,
  PageTitleFooter,
  PageTitleHeader,
} from '@components/PageTitle';
import PreviewModeSubscription from '@components/PreviewMode/PreviewModeSubscription.astro';
import { Tag, TagList, TagListItem } from '@components/Tag';
import { Text } from '@components/Text';
import {
  TitleSection,
  TitleSectionContent,
  TitleSectionFooter,
} from '@components/TitleSection';
import Layout from '@layouts/Default.astro';
import { datocmsRequest } from '@lib/datocms';
import { locales } from '@lib/i18n';
import type { HomePageQuery } from '@lib/types/datocms';
import type { PageUrl } from '@lib/types/page-url';
import query from './_index.query.graphql';

export async function getStaticPaths() {
  return locales.map((locale) => ({ params: { locale } }));
}

const { locale } = Astro.params;

const variables = {
  locale,
};

const { page, members, vacancies } = await datocmsRequest<
  NonNullable<HomePageQuery>
>({
  query,
  variables,
});

const pageUrls = locales.map((locale) => ({
  locale,
  pathname: `/${locale}/`,
})) as PageUrl[];
---

{
  page ? (
    <Layout pageUrls={pageUrls} seoMetaTags={page._seoMetaTags}>
      <PreviewModeSubscription query={query} variables={variables} />
      <PageTitle spacious>
        <PageTitleHeader>
          <Heading level={1}>{page.title}</Heading>
        </PageTitleHeader>
        <PageTitleContent>
          <Heading displayLevel={6} level="p">
            {page.subtitle.replace('{{number}}', '123')}
          </Heading>
        </PageTitleContent>
        <PageTitleFooter>
          <Button as="a" icon="chevron-right" variant="large">
            {page.becomeMemberCtaLabel}
          </Button>
          <Button
            as="a"
            height="narrow"
            icon="chevron-right"
            level="secondary"
            variant="large"
          >
            {page.findAgencyCtaLabel}
          </Button>
        </PageTitleFooter>
      </PageTitle>
      <Grid border={true}>
        <Column span={12}>
          <MemberParade members={members} />
        </Column>
      </Grid>
      <TitleSection>
        <TitleSectionContent>
          <Tag>{page.eventsSectionLabel}</Tag>
          <Heading level={2}>{page.eventsSectionTitle}</Heading>
        </TitleSectionContent>
        <TitleSectionFooter>
          <Button
            as="a"
            height="narrow"
            icon="chevron-right"
            level="secondary"
            variant="large"
          >
            {page.eventsSectionCtaLabel}
          </Button>
        </TitleSectionFooter>
      </TitleSection>
      <Grid border={true}>
        <Column
          span={{ mobile: 12, tablet: 6, desktop: 4 }}
          style={{ padding: 48 }}
        >
          <Card>
            <CardImage>Image</CardImage>
            <CardContent>
              <TagList>
                <TagListItem>Label</TagListItem>
                <TagListItem>Label</TagListItem>
              </TagList>
              <Text variant="subtext">01 Jan 2024 / Amsterdam</Text>
              <Heading level={3}>Event</Heading>
              <Text variant="subtext">Subtitle / Subtext</Text>
            </CardContent>
            <CardFooter>
              <Button
                as="a"
                height="narrow"
                icon="chevron-right"
                level="secondary"
                variant="large"
              >
                Details
              </Button>
            </CardFooter>
          </Card>
        </Column>
        <Column
          span={{ mobile: 12, tablet: 6, desktop: 4 }}
          style={{ padding: 48 }}
        >
          <Card>
            <CardImage>Image</CardImage>
            <CardContent>
              <TagList>
                <TagListItem>Label</TagListItem>
                <TagListItem>Label</TagListItem>
              </TagList>
              <Text variant="subtext">01 Jan 2024 / Amsterdam</Text>
              <Heading displayLevel={4} level={3}>
                Nieuws
              </Heading>
              <Text variant="subtext">Subtitle / Subtext</Text>
            </CardContent>
            <CardFooter>
              <Button
                as="a"
                height="narrow"
                icon="chevron-right"
                level="secondary"
                variant="large"
              >
                Lees Meer
              </Button>
            </CardFooter>
          </Card>
        </Column>
        <Column
          span={{ mobile: 12, tablet: 6, desktop: 4 }}
          style={{ padding: 48 }}
        >
          <Card>
            <CardImage>Image</CardImage>
            <CardContent>
              <Heading displayLevel={4} level={3}>
                Team
              </Heading>
              <Text variant="subtext">
                CEO WeAreBrain, portefeuille PR & Communicatie
              </Text>
            </CardContent>
            <CardFooter>
              <Button
                as="a"
                height="narrow"
                icon="external"
                level="secondary"
                variant="large"
              >
                LinnkedIn
              </Button>
              <Button
                as="a"
                height="narrow"
                icon="external"
                level="secondary"
                variant="large"
              >
                E-Mail
              </Button>
            </CardFooter>
          </Card>
        </Column>
        <Column
          span={{ mobile: 12, tablet: 6, desktop: 4 }}
          style={{ padding: 48 }}
        >
          <Card>
            <CardImage>Image</CardImage>
            <CardContent>
              <TagList showEllipses>
                <TagListItem>Label</TagListItem>
                <TagListItem>Label</TagListItem>
              </TagList>
              <Heading level={3}>Leden</Heading>
              <Text variant="subtext">Amsterdam</Text>
              <Text variant="subtext">
                25-49 Werknemers <Tag variant="blue">Hiring</Tag>
              </Text>
            </CardContent>
            <CardFooter>
              <Button
                as="a"
                height="narrow"
                icon="chevron-right"
                level="secondary"
                variant="large"
              >
                Details
              </Button>
            </CardFooter>
          </Card>
        </Column>
        <Column
          span={{ mobile: 12, tablet: 6, desktop: 4 }}
          style={{ padding: 48 }}
        >
          <Card>
            <CardImage>Image</CardImage>
            <CardContent>
              <TagList showEllipses>
                <TagListItem variant="blue">Label</TagListItem>
                <TagListItem>Label</TagListItem>
                <TagListItem>Label</TagListItem>
                <TagListItem>Label</TagListItem>
              </TagList>
              <Heading displayLevel={4} level={3}>
                Cases
              </Heading>
              <Text variant="subtext">Klant</Text>
            </CardContent>
            <CardFooter>
              <Button
                as="a"
                height="narrow"
                icon="external"
                level="secondary"
                variant="large"
              >
                Lees meer op onze site
              </Button>
            </CardFooter>
          </Card>
        </Column>
        <Column
          span={{ mobile: 12, tablet: 6, desktop: 4 }}
          style={{ padding: 48 }}
        >
          <Card>
            <CardImage>Image</CardImage>
            <CardContent>
              <TagList />
              <Heading displayLevel={4} level={3}>
                Cases
              </Heading>
            </CardContent>
          </Card>
        </Column>
      </Grid>
      <TitleSection>
        <TitleSectionContent>
          <Tag>{page.vacanciesSectionLabel}</Tag>
          <Heading level={2}>{page.vacanciesSectionTitle}</Heading>
        </TitleSectionContent>
        <TitleSectionFooter>
          <Button
            as="a"
            height="narrow"
            icon="chevron-right"
            level="secondary"
            variant="large"
          >
            {page.vacanciesSectionCtaLabel}
          </Button>
        </TitleSectionFooter>
      </TitleSection>
      <VacancyList vacancies={vacancies} />
      <TitleSection>
        <TitleSectionContent>
          <Tag>{page.publicationsSectionLabel}</Tag>
          <Heading level={2}>{page.publicationsSectionTitle}</Heading>
        </TitleSectionContent>
        <TitleSectionFooter>
          <Button
            as="a"
            height="narrow"
            icon="chevron-right"
            level="secondary"
            variant="large"
          >
            {page.publicationsSectionCtaLabel}
          </Button>
        </TitleSectionFooter>
      </TitleSection>
    </Layout>
  ) : (
    <p>Page not found</p>
  )
}
