---
import Layout from '@layouts/Default.astro';
import { defaultLocale, t } from '@lib/i18n';
import query from './_index.query.graphql';
import { datocmsRequest } from '@lib/datocms';
import type { PublicationsPageQuery } from '@lib/types/datocms';
import { Column, Grid } from '@components/Grid';
import { PublicationCard } from '@blocks/PublicationCard';
import PublicationList from '@blocks/PublicationList/PublicationList.astro';
import PageHeader from '@blocks/PageHeader/PageHeader.astro';
import { Button } from '@components/Button';

export const prerender = false;

const { locale = defaultLocale } = Astro.params;

const { page, highlightedPublications } =
  await datocmsRequest<PublicationsPageQuery>({
    query,
    variables: { locale },
  });

if (!page) {
  return new Response(null, { status: 404 });
}
---

<Layout pageUrls={[]} seoMetaTags={page._seoMetaTags}>
  <PageHeader title={page.header.title} subtitle={page.header.subtitle}>
    <Fragment slot="header">
      <Button
        as="a"
        href="../"
        className="back-button"
        level="tertiary"
        icon="arrow-left"
        iconPosition="left"
      >
        {t('back_to_home')}
      </Button>
    </Fragment>
  </PageHeader>
  <Grid border>
    {highlightedPublications.map((publication) => (
      <Column
        key={publication.id}
        span={{
          mobile: 12,
          tablet: 6,
          desktop: 4,
        }}
      >
        <PublicationCard publication={publication} />
      </Column>
    ))}
  </Grid>
  <PublicationList />
</Layout>
