---
import type {
  DefaultLayoutQuery,
  Site,
  SiteLocale,
  FooterRecord,
  Tag as MetaTag,
} from '@lib/types/datocms';
import { datocmsRequest } from '@lib/datocms';
import { defaultLocale } from '@lib/i18n';
import { Footer } from '@components/Footer';
import { Header } from '@components/Header';
import Breadcrumbs from '@components/Breadcrumbs/Breadcrumbs.astro';
import IconSprite from '@components/Icon/IconSprite.astro';
import PreviewModeProvider from '@components/PreviewMode/PreviewModeProvider.astro';
import SeoHead from '@components/SeoHead.astro';
import SkipLink from '@components/SkipLink/SkipLink.astro';
import type { Breadcrumb } from '@components/Breadcrumbs';
import type { PageUrl } from '@lib/seo';
import '@assets/a11y.css';
import '@assets/core.css';
import '@assets/layout.css';
import '@assets/typography.css';
import query from './default.query.graphql';

interface Props {
  breadcrumbs?: Breadcrumb[];
  pageUrls: PageUrl[];
  seoMetaTags: MetaTag[];
}

const { locale = defaultLocale as SiteLocale } = Astro.params as {
  locale?: SiteLocale;
};

const data = (await datocmsRequest<DefaultLayoutQuery>({
  query,
  variables: { locale },
})) as { site: Site; footer: FooterRecord };

const { breadcrumbs = [], pageUrls, seoMetaTags } = Astro.props;
const mainContentId = 'content';
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    
    <link rel="sitemap" href="/sitemap.xml" />
    <link rel="preconnect" href="https://www.datocms-assets.com" />
    <link rel="preconnect" href="https://plausible.io" />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/Archivo-SemiBold.woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/Archivo-Regular.woff2"
      crossorigin="anonymous"
    />
    
    <SeoHead
      pageUrls={pageUrls}
      tags={[...data.site.faviconMetaTags, ...seoMetaTags]}
    />
    
    <script
      is:inline
      defer
      data-domain={Astro.site?.host}
      src="https://plausible.io/js/script.js"></script>
    <script is:inline>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>
  <body>
    <PreviewModeProvider>
      <div class="main-container">
        <SkipLink targetId={mainContentId} />
        <Header client:load />

        {breadcrumbs.length > 0 && <Breadcrumbs items={breadcrumbs} />}
        {
          /* main element requires tabindex to be focusable, see SkipLink/README.md */
        }

        <main id={mainContentId} tabindex="-1">
          <slot />
        </main>
        <Footer links={data.footer.links} />
      </div>
      <IconSprite />
    </PreviewModeProvider>
  </body>
</html>
