---
import type {
  DefaultLayoutQuery,
  Site,
  SiteLocale,
  FooterRecord,
  Tag as MetaTag,
} from '@lib/types/datocms';
import { datocmsRequest } from '@lib/datocms';
import { defaultLocale } from '@lib/i18n';
import { Footer } from '@components/Footer';
import { Header } from '@components/Header';
import SkipLink from '@components/SkipLink/SkipLink.astro';
import type { PageUrl } from '@lib/seo';
import '@assets/a11y.css';
import '@assets/core.css';
import '@assets/layout.css';
import '@assets/typography.css';
import query from './default.query.graphql';
import Base from './Base.astro';

interface Props {
  pageUrls: PageUrl[];
  seoMetaTags: MetaTag[];
}

const { locale = defaultLocale as SiteLocale } = Astro.params as {
  locale?: SiteLocale;
};

const data = (await datocmsRequest<DefaultLayoutQuery>({
  query,
  variables: { locale },
})) as { site: Site; footer: FooterRecord };

const { pageUrls, seoMetaTags } = Astro.props;
const mainContentId = 'content';
---

<Base pageUrls={pageUrls} seoMetaTags={seoMetaTags}>
  <div class="main-container">
    <SkipLink targetId={mainContentId} />

    <Header showMenu={false} client:load />

    {
      /* main element requires tabindex to be focusable, see SkipLink/README.md */
    }

    <main id={mainContentId} tabindex="-1">
      <slot />
    </main>

    <Footer
      links={data.footer.links.filter(
        (link) => link.title === 'Privacy beleid',
      )}
    />
  </div>
</Base>
