---
export const prerender = false;

import { setCacheControl } from '@lib/cache-control';
import { getToday } from '@lib/date';
import { datocmsRequest } from '@lib/datocms';
import { t } from '@lib/i18n';
import type {
  EventsPageQuery,
  EventsPageQueryVariables,
  SiteLocale,
} from '@lib/types/datocms';
import query from './_eventsPage.query.graphql';
import Layout from '@layouts/Default.astro';
import { EventCard } from '@blocks/EventCard';
import EventList from '@blocks/EventList/EventList.astro';
import PageHeader from '@blocks/PageHeader/PageHeader.astro';
import { PartnerBanner } from '@blocks/PartnerBanner';
import { Button } from '@components/Button';
import { Column, Grid } from '@components/Grid';
import { Heading } from '@components/Heading';

setCacheControl(Astro.response, 0, 10);

const { locale } = Astro.params;

const today = getToday();

const { page, highlightedEvents } = await datocmsRequest<
  EventsPageQuery,
  EventsPageQueryVariables
>({ query, variables: { locale: locale as SiteLocale, today } });

if (!page) {
  return new Response(null, { status: 404 });
}
---

<Layout pageUrls={[]} seoMetaTags={page._seoMetaTags}>
  <PageHeader title={page.header.title} subtitle={page.header.subtitle}>
    <Fragment slot="header">
      <Button
        as="a"
        href="../"
        className="back-button"
        level="tertiary"
        icon="arrow-left"
        iconPosition="left">{t('back_to_home')}</Button
      >
    </Fragment>
  </PageHeader>

  <Grid as="section" border>
    <h2 class="a11y-sr-only">{ page.highlightedEventsTitle }</h2>
    {
      highlightedEvents.map((event) => (
        <Column
          key={event.id}
          span={{
            mobile: 12,
            tablet: 6,
            // If there are less than 3 highlighted events, adjust span to half the grid.
            desktop: highlightedEvents.length < 3 ? 6 : 4,
          }}
        >
          <EventCard event={event} priority={true} />
        </Column>
      ))
    }
  </Grid>

  <EventList
    queryKey="events"
    defaultPageSize={10}
    fixedFilters={{
      date: { gte: today },
    }}
  />

  <section class="past-events">
    <Heading className="past-events__heading" level={2} displayLevel={3}
    >{page.pastEventsTitle}</Heading
    >

    <EventList
      queryKey="past_events"
      defaultPageSize={3}
      showFilter={false}
      fixedFilters={{
        date: { lt: today },
      }}
    />
  </section>

  <PartnerBanner />
</Layout>

<style>
  .past-events__heading {
    border-block-start: 1px solid var(--color-black);
    padding-block: var(--spacing-48) 0;
    padding-inline: var(--spacing-16);
  }

  @media screen and (min-width: 890px) {
    .past-events__heading {
      padding-inline: var(--spacing-48);
    }

    .past-events__heading {
      border-block-start: 1px solid var(--color-black);
      padding-block: var(--spacing-48) 0;
      padding-inline: var(--spacing-16);
    }

    @media screen and (min-width: 890px) {
      .past-events__heading {
        padding-inline: var(--spacing-48);
      }
    }
  }
</style>
